@model IEnumerable<MinusBugs.Institute.Web.FrontEnd.Models.Student>

@{
    ViewBag.Title = "Index";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Index</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Student</strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>List of Student</h5>
					<div class="ibox-tools">
						@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-xs"})
					</div>
                </div>
                <div class="ibox-content">

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dob)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuardianNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pincode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.College)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qualification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearofPassing)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Technology)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Regsitered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateofRegistration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateofJoining)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateofCompletion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReferredBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dob)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobileNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuardianNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pincode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.College)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qualification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearofPassing)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Technology)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Regsitered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateofRegistration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateofJoining)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateofCompletion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReferredBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
			@Html.ActionLink("Details", "Details", new { id=item.Admno }, new { @class = "btn btn-primary btn-sm"})
            @Html.ActionLink("Edit", "Edit", new { id=item.Admno }, new { @class = "btn btn-white btn-sm"})
            @Html.ActionLink("Delete", "Delete", new { id=item.Admno }, new { @class = "btn btn-white btn-sm"})
        </td>
    </tr>
}

</table>

                </div>
            </div>
        </div>
    </div>
 </div>



